langgraph
asyncssh
pydantic
pydantic-settings
python-dotenv
fastapi
uvicorn[standard]
sqlmodel
psycopg[binary]
pgvector
jinja2
python-multipart
openai
httpx
reportlab
pypdf
arabic-reshaper
python-bidi
